.root {
    flex-grow: 1;
}

.title {
    flex-grow: 1;
    display: block;
}

.search {
    position: relative;
    border-radius: 1%;
    background-color: white;
    filter: brightness(60%);
    margin-left: 0;
    width: 25%;
    transition: filter ease-in-out 0.5s;
}

.search :hover {
    filter: brightness(85%);
}

.searchIcon {
    padding: 0 2%;
    height: 100%;
    position: 'absolute';
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputRoot {
    color: inherit;
}

.inputInput {
    padding: 1%, 1%, 1%, 0;
    padding-left: 5px;
    width: 30px;
}

